html {
    height: 100%;
}

.bg-dark2 {
    height: 30em;
    background-color: #353b48;
}

.bg-dark2:hover {
    box-shadow: 0 0rem 3rem #dc3545 !important;
}

.header-container {
    height: 30em;
    background-image: linear-gradient( 86deg, rgba(0, 0, 0, 0.51) 0%, rgba(0, 0, 0, 0.49) 35%, rgba(0, 0, 0, 0.56) 100%), url(./images/backg.jpg);
    background-size: cover;
    background-position: center;
}

.technos {
    width: 2.5em;
}

.project {
    height: 28em;
}

.my-h-75 {
    height: 75%;
}

footer {
    background-color: #2f3640;
    height: 20em;
}

footer a {
    color: #fff;
}

footer a:hover {
    text-decoration: none;
    color: #dc3545;
}

@media (max-width: 575.98px) {
    .carousel-item>img {
        height: 30em;
    }
    .technos {
        width: 2em;
    }
    #node {
        height: 2.5em;
        width: 2.5em;
    }
    .project {
        height: 20em;
    }
    .bg-dark2 {
        height: 60em;
    }
    .lead {
        font-size: 1rem !important;
    }
    .my-h-75 {
        height: 100%;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .header-container {
        height: 50em;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .project-container {
        height: 55em;
    }
}